*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;  
    font-family: 'Open Sans';
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    
}

body {
    background-color: #111111;
}

@font-face {
    font-family: "WebSymbolsRegular";
    src: url(fonts/websymbols-regular-webfont.eot);
    src: url(fonts/websymbols-regular-webfont.eot?#iefix) format('embedd-opentype'), /*  para que tengan mayor compatibilidad con todos los navegadores  */
         url(fonts/websymbols-regular-webfont.woff) format('woff'),
         url(fonts/websymbols-regular-webfont.ttf) format('truetype'),
         url(fonts/websymbols-regular-webfont.svg#WebSymbolsRegular) format('svg'); /*  para que tengan mayor compatibilidad con todos los navegadores  */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.gear,.arrow, .icon {
    font-family: "WebSymbolsRegular";
    
}

img {
    width: 100%;
}



.father {
    
    height: auto;
    display: flex;
    flex-flow: row wrap;
    flex-basis: 100%;    
    min-height: 907px;
    justify-content: space-between;
    align-items: center;
    

}

.son {
    
    height: 360px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    
    
}

.son-01 {
    flex-basis: 5%;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    width: auto;
    height: auto;
    padding: 10px;
    
}

.son-02 {
    order: -1;
    justify-content: center;
    flex-basis: 100%;
    height: 50px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.son-02 > h2 {
    font-size: 56px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    margin-right: 376px;
    margin-top: 11px;
    position: absolute;
    
}

.son-02 > h2 > span {        
    color: #ffb400; 
    font-family: 'Poppins', sans-serif; 
    z-index: 2;     
    text-align: center;
    position: absolute;
}

.shadow-tittle {
    z-index: 0;
    color: #222222;
    font-size: 130px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: -43px;
    
}


.grandchild-02-01 {
    
    flex-basis: 100%;
    height: 05%;
}

.grandchild-02-02 {
    
    flex-basis: 46%;
    height: 45%;
    
    
}

.grandchild-02-03 {
    
    flex-basis: 45%;
    height: 45%;
}

.grandchild-02-04 {
    
    flex-basis: 100%;
    height: 10%;
    align-self: flex-end;
    
}


.son-03 {
    flex-basis: 80%;
    
    display: flex;   
    justify-content: space-evenly;
    flex-flow: row wrap;
    height: auto;
}


.son-04 {
    flex-basis: 5%;    
    margin-right: 25px;
    display: flex;
    flex-flow: column wrap;    
    height: auto; 
    

}

.grandchild-04-00  {
    flex-basis: 100%;
    height: 80px;
    
}


.icon-google {    
    font-size: 22px;
    font-family: "Material Icons";
}

.overlay1 {
    display: block;
    height: 32px;
    border-radius: 32px;
    width: 99px;
    background: #ffb400;
    position: absolute;
    padding: 5px;   
    cursor: pointer;
    transform: translateX(-28%);
    opacity: 0;
    transition: all 300ms;
    text-align: center;
    padding-top: 23px;
    
}

.overlay2 {
    display: block;
    height: 32px;
    border-radius: 32px;
    width: 99px;
    background: #ffb400;
    position: absolute;
    padding: 5px;   
    cursor: pointer;
    transform: translateX(-30%);
    opacity: 0;
    transition: all 300ms;
    text-align: center;
    padding-top: 23px;
    
}

.overlay3 {
    display: block;
    height: 32px;
    border-radius: 32px;
    width: 99px;
    background: #ffb400;
    position: absolute;
    padding: 5px;   
    cursor: pointer;
    transform: translateX(-30%);
    opacity: 0;
    transition: all 300ms;
    text-align: center;
    padding-top: 23px;
    margin-top: -70px;
    
}

.overlay4 {
    display: block;
    height: 32px;
    border-radius: 32px;
    width: 99px;
    background: #ffb400;
    position: absolute;
    padding: 5px;   
    cursor: pointer;
    transform: translateX(-30%);
    opacity: 0;
    transition: all 300ms;
    text-align: center;
    padding-top: 23px;
    margin-top: -70px;
    
}

.grandchild-04-01 a, .grandchild-04-02 a {
    margin-top: -70px;
}

li:hover .overlay1, li:hover .overlay2, li:hover .overlay3, li:hover .overlay4 {
    opacity: 1;
    transform: translateX(-40%);
}


.son-04 a:hover {
    display: block;
    background-color: #ffb400;
}

.son-04 span {
    display: block;
    background-color: #2B2A2A;
    border-radius: 30px;
    padding-top: 20px;
    margin: 10px;
    width: 60px;
    height: 40px;
    color: white;
    text-align: center; 

}

.son-04 a:hover {    
    background-color: #ffb400;
}

.icon-google {
    font-family: "Material Icons";
}

.gear {
    font-size: 35px;
    color: black;
    margin-left: 20px;    
    animation-name: rotate-gear; 
    animation-duration: 2s;
    animation-iteration-count: infinite; 
    animation-timing-function: linear; 
}

/*  Animacion engrane   */

@keyframes rotate-gear {    /*  creacion de la animacion   */
    from {  
        transform: rotateZ(0deg);
    }
    to { 
        transform: rotateZ(360deg);
    }
}


/*  Animacion engrane   */


.son-03 img {
    border-radius: 10px;
    
}

.grandchild-03-01:hover img, .grandchild-03-02:hover img {
    opacity: 0;
    
}

.category {
    color: white;
    font-size: 30px;
    margin-left: 164px;
    margin-top: 203px;    
    position: absolute;
    z-index: 1;
    opacity: 0;    

}

.category2 {
    color: white;
    font-size: 30px;
    margin-left: 69px;
    margin-top: 203px;    
    position: absolute;
    z-index: 1;
    opacity: 0;    

}

.grandchild-03-01:hover .category, .grandchild-03-02:hover .category2 {
    
    opacity: 1;
    animation: showCategory 300ms linear;

}


@keyframes showCategory {
    from {
        transform: translateX(-150%);
        
        
    }
    to {
        transform: translateX(0%);
        
        
    }
}

.grandchild-03-01, .grandchild-03-02 {
    position: relative;
}

.overlay {
    left: 0;
    right: 100%;
    bottom: 40%;
    top: 0;
    background-color: #ffb400;
    transition: right 0.3s;
    position: absolute;
    border-radius: 15px;
}

.portfolio-item:hover .overlay {
    right: 0;
}



  


